<div class="jumbo">
    <div class="right"></div>
    <h2>Товары</h2>
    <p>Список товаров, отображаемых в OpenShop</p>
</div>

{{#each this.model as |product|}}
    <ProductListing @product={{product}} />
{{/each}}