<div class="menu">
  <a href="/">
      <h1>OpenShop</h1>
  </a>
  {{#if this.state.isAuthorized}}
      <div class="links">
        {{#link-to "products" class="menu-products"}}
            Товары
        {{/link-to}}
        {{#link-to "users" class="menu-users"}}
            Пользователи
        {{/link-to}}
        {{#link-to "configs" class="menu-configs"}}
            Настройки
        {{/link-to}}
          <a {{action 'logout'}} role="button">
              Выйти
          </a>
      </div>
  {{/if}}
</div>