[submodule "admin"]
	path = admin
	url = https://github.com/OpenShopEngine/admin.git
[submodule "client"]
	path = client
	url = https://github.com/OpenShopEngine/client.git
[submodule "plugins/ppu"]
	path = plugins/ppu
	url = https://github.com/OpenShopEngine/ppu-plugin.git
[submodule "plugins/blog"]
	path = plugins/blog
	url = https://github.com/OpenShopEngine/blog-plugin.git
[submodule "plugins/ppu-connector"]
	path = plugins/ppu-connector
	url = https://github.com/OpenShopEngine/ppu-connector.git
