<mat-progress-bar
  class="loading-bar"
  *ngIf="loadingBarActive"
  color="accent"
  mode="indeterminate"></mat-progress-bar>
<mat-toolbar class="sticky-header" color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">{{config["general.title"] || "OpenShop"}}</a>
    <span class="spacer"></span>
    <a mat-icon-button routerLink="/cart" aria-hidden="false" aria-label="Shopping cart">
      <mat-icon matBadge="{{cartService.getCount()}}" matBadgeColor="accent">shopping_cart</mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>public</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let locale of locales" (click)="setLocale(locale.id)">{{locale.title}}</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
